Repository SulmanK/concept_visualizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        types: [python]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--config=.flake8"]
        additional_dependencies:
          - flake8-docstrings
        types: [python]
        exclude: ^backend/tests/

  # Updated to use UV for mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        types: [python]
        exclude: ^tests/
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        exclude: >
          (?x)^(
            frontend/my-app/src/hooks/__tests__/useRateLimitsQuery.test.ts|
            frontend/my-app/src/hooks/__tests__/useTaskSubscription.test.ts
          )$

  # Disable ESLint temporarily until dependencies are fixed
  # - repo: local
  #   hooks:
  #     - id: eslint
  #       name: eslint
  #       entry: bash -c 'cd frontend/my-app && npx eslint --config eslint.config.js'
  #       language: system
  #       files: \.(js|jsx|ts|tsx)$
  #       types: [file]
  #       pass_filenames: true

  # Updated TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type checking
        entry: bash -c 'cd frontend/my-app && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$
        types: [file]

fix: Add JigsawStack badge to README for enhanced visibility
  README.md
Due: none

fix: Remove debug tags from CI workflow to streamline the process
  .github/workflows/ci-tests.yml
Due: none

fix: Update CI workflow to support manual triggers and improve environment variable handling
  .gitattributes
  .github/workflows/ci-tests.yml
Due: none

fix: Update API destination URLs in Vercel configuration
  frontend/my-app/vercel.json
Due: none

fix: Update README and enhance image service functionality
  Design/Setup.md
  Design/optimization/parallelize_palette_variations.md
  README.md
  TODO/TODO.md
  TODO/optimize-image-opt.md
  TODO/task-resilience.md
  TODO/worker-function-opt.md
  backend/app/services/image/service.py
  backend/supabase/.temp/cli-latest
  backend/tests/app/services/image/test_image_service.py
Due: mypy

fix: Enhance logging and global service initialization in the worker
  backend/cloud_run/worker/main.py
Due: mypy

fix: Update README and enhance worker function documentation
  README.md
  TODO/worker-function-opt.md
  backend/cloud_run/worker/main.py
Due: mypy

fix: Update README, CI workflow, and enhance task management in worker
  .github/workflows/schedule-cleanup.yml
  Design/Setup.md
  README.md
  TODO/cloud_monitoring.md
  TODO/supabase-edge-function-resilience.md
  TODO/task-resilience.md
  backend/README.md
  backend/app/api/middleware/rate_limit_apply.py
  backend/app/api/middleware/rate_limit_headers.py
  backend/cloud_run/worker/main.py
  backend/tests/supabase_edge_function/test_cleanup_function.py
  frontend/my-app/src/components/concept/ConceptForm.tsx
  frontend/my-app/src/features/concepts/recent/components/RecentConceptsHeader.tsx
Due: mypy, tsc

fix: Improve documentation and refactor worker task processing
  backend/cloud_run/worker/main.py
Due: mypy

feat: Implement task claiming functionality in TaskService
  backend/app/services/task/interface.py
  backend/app/services/task/service.py
  backend/cloud_run/worker/main.py
Due: mypy

refactor: Remove claim_task method from TaskService and related code
  backend/app/services/task/interface.py
  backend/app/services/task/service.py
  backend/cloud_run/worker/main.py
Due: mypy

refactor: Simplify worker task processing and enhance service initialization
  backend/cloud_run/worker/main.py
Due: mypy

feat: Implement task claiming functionality and enhance task processing
  backend/app/services/task/interface.py
  backend/app/services/task/service.py
  backend/cloud_run/worker/main.py
Due: mypy

refactor: Enhance task claiming logging and reduce unnecessary database reads
  backend/app/services/task/service.py
Due: mypy

refactor: Streamline Pub/Sub message processing and enhance service initialization
  .flake8
  TODO/refactor-worker.md
  backend/cloud_run/worker/main.py
  backend/cloud_run/worker/processors/__init__.py
  backend/cloud_run/worker/processors/base_processor.py
  backend/cloud_run/worker/processors/generation_processor.py
  backend/cloud_run/worker/processors/refinement_processor.py
  backend/cloud_run/worker/requirements.txt
  backend/cloud_run/worker/stages/__init__.py
  backend/cloud_run/worker/stages/concept_storage.py
  backend/cloud_run/worker/stages/image_preparation.py
  backend/cloud_run/worker/stages/palette_generation.py
  backend/cloud_run/worker/stages/refinement.py
  backend/cloud_run/worker/wsgi.py
Due: mypy

chore: Update flake8 configuration to ignore additional docstring formatting rule
  .flake8
Due: none

refactor: Enhance type hinting and error handling in processors and stages
  backend/cloud_run/worker/processors/generation_processor.py
  backend/cloud_run/worker/stages/palette_generation.py
  backend/cloud_run/worker/stages/refinement.py
Due: mypy

refactor: Remove deprecated task service implementation
  backend/app/services/task/service.py.bak
  docs/backend/cloud_run/README.md
  docs/backend/cloud_run/worker/README.md
  docs/backend/cloud_run/worker/main.md
  docs/backend/cloud_run/worker/processors/README.md
  docs/backend/cloud_run/worker/processors/base_processor.md
  docs/backend/cloud_run/worker/processors/generation_processor.md
  docs/backend/cloud_run/worker/processors/refinement_processor.md
  docs/backend/cloud_run/worker/stages/README.md
  docs/backend/cloud_run/worker/stages/concept_storage.md
  docs/backend/cloud_run/worker/stages/image_preparation.md
  docs/backend/cloud_run/worker/stages/palette_generation.md
  docs/backend/cloud_run/worker/stages/refinement.md
  docs/backend/supabase/README.md
  docs/backend/supabase/functions/README.md
  docs/backend/supabase/functions/cleanup-old-data/README.md
  docs/backend/supabase/functions/cleanup-old-data/implementation.md
  terraform/README.md
Due: none

feat: Implement refund logic for rate limits on 409 Conflict
  Design/backend/rate-limit-refund.md
  TODO/rate-limit.md
  backend/app/api/middleware/rate_limit_apply.py
  backend/app/api/routes/concept/generation.py
  backend/app/api/routes/concept/refinement.py
  backend/app/core/limiter/redis_store.py
  backend/tests/app/core/limiter/test_redis_store.py
Due: mypy

refactor: Improve Redis store instance retrieval for rate limit refunds
  backend/app/api/routes/concept/generation.py
  backend/app/api/routes/concept/refinement.py
Due: mypy

docs: Update README and API documentation for clarity and accuracy
  README.md
  TODO/update-docs.md
  docs/backend/api/middleware/rate_limit_apply.md
  docs/backend/api/routes/auth/auth_routes.md
  docs/backend/api/routes/concept/generation.md
  docs/backend/api/routes/concept/refinement.md
  docs/backend/api/routes/concept_storage/storage_routes.md
  docs/backend/api/routes/export/export_routes.md
  docs/backend/cloud_run/worker/README.md
  docs/backend/cloud_run/worker/main.md
  docs/backend/core/limiter/redis_store.md
  docs/backend/core/middleware/README.md
  docs/frontend/api/task.md
  docs/frontend/components/ui/Button.md
  docs/frontend/components/ui/Card.md
  docs/frontend/contexts/AuthContext.md
  docs/frontend/contexts/TaskContext.md
  docs/frontend/hooks/useConceptMutations.md
  docs/frontend/hooks/useConceptQueries.md
  docs/frontend/services/conceptService.md
  terraform/README.md
Due: none
