Repository SulmanK/concept_visualizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript type checking
  entry: bash -c 'cd frontend/my-app && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint
  .pre-commit-config.yaml
  frontend/my-app/package-lock.json
  frontend/my-app/package.json
Due: none

docs: Expand TODO.md with detailed problem statements and a structured plan for addressing landing page concept card display and SVG export issues
  TODO/TODO.md
  frontend/my-app/src/features/landing/components/RecentConceptsSection.tsx
Due: tsc

fix: Resolve SVG export issue by updating vtracer usage and version
  TODO/TODO.md
  backend/app/services/export/service.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

feat: Update signed URL expiration logic for concept images
  TODO/TODO.md
  backend/app/core/supabase/image_storage.py
  backend/app/services/persistence/image_persistence_service.py
  backend/tests/app/core/supabase/test_image_storage.py
  backend/tests/app/services/persistence/test_image_persistence_service.py
Due: mypy

feat: Introduce new image processing utility for enhanced image handling
  Design/ci-cd/git-hook.md
Due: none

docs: Update README.md and TODO.md for CI workflow integration
  .github/workflows/ci-tests.yml
  TODO/TODO.md
Due: none

feat: Enhance CI workflow with linting and type checking for backend and frontend
  .github/workflows/ci-tests.yml
  frontend/my-app/src/components/layout/__tests__/Footer.test.tsx
  frontend/my-app/src/components/layout/__tests__/__snapshots__/Footer.test.tsx.snap
Due: tsc

feat: Update CI workflow and environment configuration for testing
  .github/workflows/ci-tests.yml
  .gitignore
  frontend/my-app/package-lock.json
Due: none

fix: Update CI workflow environment variable for Supabase
  .github/workflows/ci-tests.yml
Due: none

chore: Enhance CI workflow by adding virtual environment creation step
  .github/workflows/ci-tests.yml
Due: none

feat: Enhance CI workflow by adding test environment setup
  .github/workflows/ci-tests.yml
Due: none

feat: Update CI workflow with enhanced Supabase environment variables
  .github/workflows/ci-tests.yml
Due: none

feat: Update CI workflow with new Supabase environment variables
  .github/workflows/ci-tests.yml
Due: none

feat: Refactor CI workflow to improve environment variable management
  .github/workflows/ci-tests.yml
  backend/tests/conftest.py
Due: mypy

feat: Implement automatic environment switching with Git hook
  .gitignore
  README.md
  TODO/TODO.md
  scripts/setup_env_files.sh
Due: none

chore: Update .gitignore to include additional environment files
  .gitignore
Due: none

chore: Update .gitignore to include additional environment file patterns
  .gitignore
Due: none

feat: Remove obsolete SQL scripts and RLS policies
  Design/supabase/supabase-complete.md
  backend/scripts/db_rls_policy.sql
  backend/scripts/dev/clear-table.sql
  backend/scripts/dev/db-cleanup.sql
  backend/scripts/dev/drop-table.sql
  backend/scripts/dev/pg-bucket-schema-policies.sql
  backend/scripts/schema.sql
Due: none

feat: Update Supabase configuration and enhance task management
  Design/supabase/supabase-complete.md
  backend/app/core/config.py
  backend/app/core/supabase/concept_storage.py
  backend/app/services/persistence/concept_persistence_service.py
  backend/app/services/task/service.py
  backend/tests/app/core/supabase/test_concept_storage.py
  backend/tests/app/core/supabase/test_supabase_client.py
  backend/tests/app/services/persistence/test_concept_persistence_service.py
  backend/tests/app/services/task/test_task_service.py
  backend/tests/conftest.py
  frontend/my-app/src/contexts/TaskContext.tsx
  frontend/my-app/src/hooks/useTaskSubscription.ts
  frontend/my-app/src/services/databaseConfig.ts
  frontend/my-app/src/vite-env.d.ts
Due: mypy, tsc

feat: Enhance CI workflow and update documentation for Supabase integration
  .github/workflows/schedule-cleanup.yml
  .gitignore
  Design/supabase/supabase-complete.md
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^tests/
  tsc: any of: \.(ts|tsx)$
