Repository SulmanK/concept_visualizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        types: [python]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--config=.flake8"]
        additional_dependencies:
          - flake8-docstrings
        types: [python]
        exclude: ^backend/tests/

  # Updated to use UV for mypy
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && uv run mypy app'
        language: system
        types: [python]
        exclude: ^tests/
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        exclude: >
          (?x)^(
            frontend/my-app/src/hooks/__tests__/useRateLimitsQuery.test.ts|
            frontend/my-app/src/hooks/__tests__/useTaskSubscription.test.ts
          )$

  # Disable ESLint temporarily until dependencies are fixed
  # - repo: local
  #   hooks:
  #     - id: eslint
  #       name: eslint
  #       entry: bash -c 'cd frontend/my-app && npx eslint --config eslint.config.js'
  #       language: system
  #       files: \.(js|jsx|ts|tsx)$
  #       types: [file]
  #       pass_filenames: true

  # Updated TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type checking
        entry: bash -c 'cd frontend/my-app && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$
        types: [file]

feat: Improve VM instance handling in deployment workflow
  .github/workflows/deploy_backend.yml
Due: none

feat: Refactor VM instance handling in deployment workflow for improved stability
  .github/workflows/deploy_backend.yml
Due: none

feat: Enhance VM instance update process in deployment workflow
  .github/workflows/deploy_backend.yml
Due: none

Update API IP in vercel.json to 34.139.122.132 [automated]
  frontend/my-app/vercel.json
Due: none

Update API IP in vercel.json to 34.139.122.132 [automated]
  docs/workflow/README.md
  docs/workflow/ci-tests.md
  docs/workflow/deploy_backend.md
  docs/workflow/env_check.md
  docs/workflow/schedule-cleanup.md
  docs/workflow/security_scan.md
Due: none

Update API IP in vercel.json to 35.211.241.14 [automated]
  frontend/my-app/vercel.json
Due: none

fix: Update system architecture diagram path in README
  README.md
Due: none

fix: Correct path for system architecture diagram in README
  docs/assets/system_arch.md
Due: none

refactor: Update system architecture diagram for clarity and consistency
  docs/assets/system_arch.md
Due: none

chore: Remove outdated system architecture documentation
  docs/assets/system_arch.md
  docs/assets/system_arch_diagram.png
Due: none

chore: Remove outdated monitoring documentation files
  Design/optimization/backend-monitoring.md
  Design/optimization/cloud_monitoring.md
  Design/optimization/frontend-monitoring.md
  Design/optimization/optimize-image-opt.md
  Design/optimization/rate-limit.md
  Design/optimization/refactor-worker.md
  Design/optimization/supabase-edge-function-resilience.md
  Design/optimization/task-resilience.md
  Design/optimization/update-docs.md
  Design/optimization/worker-function-opt.md
  TODO/TODO.md
Due: none

Update API IP in vercel.json to 34.23.178.109 [automated]
  frontend/my-app/vercel.json
Due: none

chore: Update README with new system architecture diagrams
  Design/mermaid/build-path.md
  Design/mermaid/mermaid-full.md
  Design/mermaid/runtime-path.md
  README.md
  docs/assets/build_path_diagram.png
  docs/assets/runtime_path_diagram.png
Due: none

chore: Update system architecture diagrams
  docs/assets/build_path_diagram.png
  docs/assets/runtime_path_diagram.png
Due: none

chore: Update README to include blog post and application link
  README.md
Due: none

chore: Update documentation for improved clarity and accessibility
  Design/backend/standardize-signed-url-expiration.md
  backend/app/core/config.py
  backend/app/core/supabase/image_storage.py
  backend/app/services/persistence/image_persistence_service.py
  backend/tests/app/core/supabase/test_image_storage.py
  backend/tests/app/services/image/test_image_service.py
  backend/tests/app/services/persistence/test_image_persistence_service.py
  docs/backend/services/persistence/image_persistence_service.md
  docs/frontend/services/supabaseClient.md
  frontend/my-app/src/constants/storage.ts
  frontend/my-app/src/services/supabaseClient.ts
Due: mypy, tsc

fix: Correct GitHub link in Footer component
  frontend/my-app/src/components/layout/Footer.tsx
Due: tsc

refactor: Improve image storage handling and validation
  backend/app/api/routes/concept/generation.py
  backend/app/services/image/processing_service.py
Due: mypy

chore: Update flake8 and related dependencies
  backend/app/api/routes/concept/generation.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

refactor: Update JWT functions and enhance service initialization resilience
  Design/task-design/cold_start_resilience.md
  Design/task-design/how-to-implement-jwt-security.md
  backend/app/core/limiter/redis_store.py
  backend/cloud_run/worker/main.py
  backend/scripts/migrations/000_diagnose_jwt_usage.sql
  backend/scripts/migrations/002_move_auth_functions.sql
  backend/scripts/migrations/003_update_rls_policies.sql
  backend/scripts/migrations/004_update_storage_policies_prod.sql
  backend/scripts/migrations/005_update_storage_policies_dev.sql
  terraform/environments/prod.tfvars.example
Due: mypy

refactor: Remove global variable reference in Pub/Sub handler
  backend/cloud_run/worker/main.py
Due: mypy

refactor: Enhance logging and error handling in Pub/Sub message processing
  backend/cloud_run/worker/main.py
Due: mypy

docs: Update GCP setup instructions and increase worker memory allocation
  Design/Setup.md
  terraform/variables.tf
Due: none

Update API IP in vercel.json to 35.231.54.211 [automated]
  frontend/my-app/vercel.json
Due: none

feat: Add concurrency control and timeout for palette processing
  Design/optimization/cloud-run-timeout-fix.md
  backend/app/core/config.py
  backend/app/services/image/service.py
Due: mypy

fix: Adjust concurrency limit and timeout settings for palette processing
  Design/optimization/cloud-run-performance-optimizations.md
  backend/app/core/config.py
  backend/app/services/image/service.py
  backend/tests/app/services/image/test_image_service.py
  backend/tests/monitoring/test_alert_trigger.py
  backend/tests/monitoring/test_worker_alert.py
Due: mypy

fix: Optimize Cloud Run timeout and concurrency settings for palette processing
  Design/optimization/cloud-run-timeout-fix.md
  backend/app/core/config.py
  backend/tests/app/services/image/test_image_service.py
Due: mypy

Update API IP in vercel.json to 35.185.81.35 [automated]
  frontend/my-app/vercel.json
Due: none

docs: Update Terraform setup instructions and add cleanup step
  Design/Setup.md
Due: none

Update API IP in vercel.json to 35.231.211.47 [automated]
  frontend/my-app/vercel.json
Due: none

chore: Increase Cloud Run resource allocation for backend deployment
  .github/workflows/deploy_backend.yml
Due: none

docs: Update secrets documentation for Upstash Redis integration
  .github/SECRETS.md
  .github/workflows/flush_rate_limits.yml
  Design/Setup.md
  Design/backend/rate_limit_monthly_flush.md
  docs/workflow/flush_rate_limits.md
  scripts/maintenance/flush_rate_limits.py
Due: mypy

chore: Update flush rate limits workflow for environment naming and handling
  .github/workflows/flush_rate_limits.yml
  docs/workflow/flush_rate_limits.md
Due: none

chore: Update palette processing concurrency and timeout settings
  backend/app/core/config.py
  terraform/cloud_function.tf
Due: mypy

chore: Adjust palette processing concurrency and timeout settings
  backend/app/core/config.py
Due: mypy

feat: Add timing logs for palette processing and upload steps
  Design/backend/palette_processing_optimization.md
  Design/task-design/log-sequential.md
  Design/task-design/logs-4.md
  Design/task-design/logs.md
  backend/app/services/image/service.py
Due: mypy
